---
layout: bootcamp2
root: .
venue: CSC - IT Center for Science
address: Espoo, Finland
country: Finland
humandate: Mar 16-17, 2015
humantime: 9:00 am - 5:00 pm
startdate: 2015-03-18
enddate: 2015-03-19
latlnang: 60.178127,24.832749
registration: open
instructor: ["François Michonneau","Aleksandra Pawlik"]
#helper: [""]
#eventbrite: 15497330934
contact: data-carpentry@software-carpentry.org
---
<!--
    Edit the values in the parameter block above to be appropriate for your workshop.
    Please use three-letter month names for the 'humandate' field.
-->

<!--
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.
-->


{% if page.eventbrite %}
<iframe
  src="//www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" height="206px" scrolling="auto"></iframe>
{% endif %}


<h2>Hackathon Information</h2>
<p>
  This event aims to develop training materials in life sciences to be used in
  <a href="http://datacarpentry.org">Data Carpentry</a> workshops and
  other training that is using a similar teaching model. Data Carpentry workshops are aimed at
researchers in the life sciences at all career stages. The workshops are designed to teach basic concepts, skills
  and tools for working more effectively with data. Data Carpentry workshops are an example-driven two-day workshops
  during which short tutorials alternate with hands-on practical exercises, and participants are encouraged
  both to help one another, and to try applying what they have learned to their own research problems during
  and between sessions. See the  <a href="http://datacarpentry.org/">Data Carpentry website</a> for more info. <br/></p>


<h2>Participation</h2>
<p>This hackathon is primarily aimed at the ELIXIR project members. We invite all domain experts who are interested in and may already provide
  training in data handling; and who are willing to share their materials with a wider community. Participants with experience in running Data and
  Software Carpentry workshops are particularily encouraged to join. The <a href="#guidelines"> contribution guidelines</a> provide more information
  on the work planned for the hackathon. <br/>
  The local ELIXIR Node Data and Software Coordinators will be contacting the potential participants directly but if you are interested in joining
the event please contact <a href="mailto:aleksandra.pawlik@manchester.ac.uk">Aleksandra Pawlik.</p>



 <a name="guidelines"><h2>Contribution guidelines</h2></a>
<p>
  There are many ways in which the participants can contribute to the development of new and the improvement of existing
  training materials for life sciences in Data Carpentry. In order to help the participants prepare for the event and
  structure the work during the hackathon here are some contribution guidelines and ideas. <br/>
  

    <ul> Improve the current material:
      <li>make sure that <a href="https://github.com/datacarpentry/datacarpentry">current lessons</a>
	  have learning objectives and challenges associated with them;</li>
      <li>take advantage of new measurements in
	<a href="https://github.com/datacarpentry/datacarpentry/tree/master/data/biology">mammal dataset</a>
	to include more plotting;</li>
      <li>refactor current <a href="https://github.com/datacarpentry/datacarpentry/tree/master/lessons/R">R lesson</a>
	to differentiate a little more from
	<a href="https://github.com/swcarpentry/r-novice-inflammation">the content included in Software Carpentry</a>.</li>
    </ul>
    

  <ul> Develop new material:
    <li> check <a href="https://github.com/datacarpentry/datacarpentry/issues">
	this list of proposed tasks / issues</a>
      and select the ones you are keen to work on.</li>
    <li> translate current lessons to use other datasets; these datasets should be publicly available
      (if they are going to be included in the Data Carpentry curriculum);
      it might worth developing a lesson around <a href="http://www.gapminder.org/data/">the Gapminder
	dataset</a> that is of general interest (for multidisciplinary workshop audiences).</li>
    <li> develop a new R lesson that uses <a href="http://cran.rstudio.com/web/packages/dplyr/vignettes/introduction.html">
	<em>dplyr</em></a>
      rather than base R for data manipulation.</li>
  </ul>
  <ul>
    <li> If you have your own datasets which you already use for teaching and you would be keen to share these, we will provide detailed
      guidelines how to do that. Good datasets which are rich enough for teaching but not overwhelmingly large and freely available are
      difficult to get.
    </li>
    <li> You may also chose to develop training materials for a particular tool for data manipulation following the Data Carpentry model. We will
    provide a lesson template to help you structure the material. </li>
  </ul>

</p>


<!--
<h2>How to contribute</h2>
  <p> </p> -->



  <!--
<div>
<a id="setup">
<h2>Setup</h2> </a>

<p>
  To participate in a Data Carpentry workshop,
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your workshop.
</p>

{% include setup.html %}

</div>
-->


<h2>Acknowledgements &amp; Support</h2>
<div class="pull-right" style="max-width: 320px; padding-left: 6px;">
</div>
<p>This workshop is supported by the <a href="http://elixir-europe.org/">ELIXIR project. </a> </p>




<h2>Schedule</h2>

<table class="table table-striped">
  <tr> <td>Monday</td><td>09:00 - 9:30</td>  <td>Welcome and introductions</td> </tr>
  <tr> <td></td>        <td>09:30 - 10:00</td> <td>Introduction to the Data Carpentry teaching model</td> </tr>
  <tr> <td></td>        <td>10:30 - 11:00</td> <td>Material development pitches</td> </tr>
  <tr> <td></td>        <td>11:00 - 12:00</td> <td>Selecting projects and setting up. Hacking starts!</td> </tr>
  <tr> <td></td>        <td>12:00 - 13:00</td>  <td>Lunch break</td> </tr>
  <tr> <td></td>        <td>13:00 - 15:00</td> <td>Working on the materials development</td> </tr>
  <tr> <td></td>        <td>15:00 - 15:30</td>  <td>Coffee break</td> </tr>
  <tr> <td></td>        <td>15:30 - 16:45</td>  <td>Working on the materials development</td> </tr>
  <tr> <td></td>       <td>16:45 - 17:00</td>  <td>Wrap-up</td> </tr>

  <!-- empty line -->
  <tr> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td></tr>

  <tr> <td>Tuesday</td> <td>09:00 - 09:30 </td>  <td>Reporting back from Day 1</td> </tr>
  <tr> <td></td>        <td>09:30 - 12:00 </td> <td>Working on the materials development</td> </tr>
  <tr> <td></td>        <td>12:00 - 13:00</td>  <td>Lunch break</td> </tr>
  <tr> <td></td>        <td>13:00 - 15:00 </td> <td>Working on materials development</td> </tr>
  <tr> <td></td>        <td>15:00 - 15:30 </td> <td>Coffee break</td> </tr>
  <tr> <td></td>        <td>15:30 - 16:30 </td> <td>Working on materials development</td> </tr>
   <tr> <td></td>       <td>16:30 - 17:00</td>  <td>Reporting back and wrap-up</td> </tr>

</table>


<hr/>
